@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans';
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* body {
    background-color: #6D737A;
} */

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background: #FFC27A;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #ff9a26;
}

.container {
  max-width: 1700px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  margin: auto !important;
  padding: auto !important;
}

main {
  display: flex;
  width: 100% !important;
  align-items: center;
  justify-content: space-between !important;
  flex-direction: column;
}
